header {
    background-color: $color-white-1;
    box-shadow: 0 2px 4px $color-white-1;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-image: url(../../img/yellow_top_wave_01.png);
    .navbar{
        @include styleText($fs-3, $fw-2, $color-dark-1);
        padding: 0 1rem;
    }
    #navbarNav{
        margin: auto;
        padding: 0 $pd-2;
    }
    .navbar-toggler-icon{
        font-size: $fs-5;
        line-height: 1.5em;
        color: $color-dark-1;
    }
    .navbar-nav {
        .nav-link {
            @include styleText($fs-3, $fw-2, $color-dark-1);
            padding: 0 $pd-3 0 0;
            transition: 0.3s;
            &:hover {
                color: $color-main-1;
            }
        }
    }
}


